<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Skip rewrite for existing files
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rewrite all requests to index.php
    RewriteRule ^(.*)$ index.php?url=\ [QSA,L]
</IfModule>
